.activity-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-10);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__filter {
    display: flex;
    align-items: center;
  }

  &__select {
    width: rem(200);
    margin-bottom: rem(10);
    margin-left: rem(10);
  }
}
