.card {
  background-color: cc(palest);
  border-radius: rem(10);
  box-shadow: 10px 10px 15px -15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex: 2 0 rem(400);
  justify-content: space-between;
  margin: rem(10);
  padding: rem(20);
  transition: all 0.2s ease;

  &.--noClick {
    cursor: default;
  }

  @include phone {
    flex: 1 0 rem(300);
    max-width: inherit;
  }

  &.--loading {
    height: rem(180);
    align-items: center;
    justify-content: center;
  }

  &:hover {
    transform: scale(1.05);
  }

  &__title {
    @extend %font-type-subheader;
    min-height: rem(70);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include phone {
      min-height: inherit;
    }
  }

  &__icon {
    width: rem(45);
  }

  &__stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: rem(5) 0;
    height: 1rem;

    &.--header {
      margin: 0;
      margin-bottom: rem(30);
    }
  }

  &__separator {
    color: cc(main);
    margin: rem(10) 0;
  }

  &__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }

  &__rating-label {
    color: cc(text);
    margin-right: rem(10);
  }

  &__rating-value {
    @extend %font-type-rating;

    &.--green {
      color: green;
    }

    &.--yellow {
      color: rgb(218, 218, 0);
    }

    &.--orange {
      color: orange;
    }

    &.--red {
      color: red;
    }

    & + & {
      margin-left: rem(5);
    }
  }

  &__link {
    color: cc(main);
    text-decoration: underline;
  }

  &__empty {
    @extend %font-type-label;
  }
}
