.card {
  background-color: cc(palest);
  border-radius: rem(10);
  box-shadow: 10px 10px 15px -15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex: 2 0 rem(400);
  justify-content: space-between;
  margin: rem(10);
  padding: rem(20);
  transition: all 0.2s ease;

  @include phone {
    flex: 1 0 rem(200);
    max-width: inherit;
  }

  &.--loading {
    height: rem(180);
    align-items: center;
    justify-content: center;
  }

  &:hover {
    transform: scale(1.05);
  }

  &__title {
    @extend %font-type-subheader;
  }

  &__icon {
    width: rem(45);
  }

  &__stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: rem(5) 0;

    &.--header {
      margin: 0;
      margin-bottom: rem(10);
      align-items: flex-start;
    }
  }

  &__separator {
    color: cc(main);
    margin: rem(10) 0;
  }

  &__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    &.--green {
      color: green;
    }

    &.--yellow {
      color: rgb(218, 218, 0);
    }

    &.--orange {
      color: orange;
    }

    &.--red {
      color: red;
    }
  }

  &__rating-label {
    color: cc(text);
    margin-right: rem(10);
  }

  &__rating-value {
    @extend %font-type-rating;
  }
}
