.header {
  align-items: center;
  display: flex;
  padding: rem(20) rem(45);
  justify-content: space-between;

  &__title {
    @extend %font-type-title;
    align-items: center;
    color: cc(dark);
    display: flex;
    text-decoration: none;
  }

  &__logo {
    height: rem(40);
  }
}
