.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @include phone {
    padding-top: rem(100);
  }

  &__card {
    align-items: center;
    background-color: cc(palest);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(30);
    text-align: center;

    @include tablet {
      border-radius: rem(10);
      box-shadow: 10px 10px 15px -15px rgba(0, 0, 0, 0.5);
      flex: 1 0 rem(400);
      margin: rem(10);
      margin-top: rem(100);
      padding: rem(100);
      transition: all 0.2s ease;
    }
  }

  &__description {
    @extend %font-type-subheader;
    margin-bottom: rem(50);
  }

  &__separator {
    width: 100%;
    margin: rem(50) 0;
    color: cc(main);
  }

  &__title {
    @extend %font-type-title;
  }

  &__button {
    @extend %font-type-header;
    text-decoration: underline cc(main);
  }
}
