.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  padding: rem(10);
  border-right: rem(1) solid cc(text);
  width: 180px;

  &__item {
    padding: rem(10);
    opacity: 0.8;
    transition: all 0.1s;
    font-size: rem(20);

    &:hover {
      opacity: 1;
    }
  }

  &__logo {
    height: rem(25);
  }
}
